@import '../variables';

.ellipsis {
  font-size: 16px;
  height: 200px;
  line-height: 1.4em;
  margin: 1.4em 0;
  overflow: hidden;

  &:before {
    content: '';
    float: left;
    height: 100%;
    width: 1px;
  }
}

.ellipsis--content {
  float: right;
  margin-left: -1px;
  width: 100%;
}

.ellipsis--mark {
  background: linear-gradient(to right, $color-transparant,  $color-white 50%, $color-white);
  float: right;
  left: 100%;
  margin-left: -2em;
  padding-right: 1px;
  position: relative;
  text-align: right;
  top: -1.4em;
  width: 2em;
}
